$tomato: hsl(4, 100%, 67%);
$darkSlateGrey: hsl(234, 29%, 20%);
$grey: hsl(231, 7%, 60%);

$errorBackGroundHighlight: rgba(255, 97, 85, 0.15);

$charcoalGrey: hsl(235, 18%, 26%);

$white: hsl(0, 0%, 100%);